:root {
  /* --hunter-green: #386641;
  --may-green: #6a994e;
  --android-green: #a7c957;
  --eggshell: #f2e8cf;
  --deep-chestnut: #bc4749; */

  --deep-space-sparkle: #335c67ff;
  --medium-champagne: #fff3b0ff;
  --indian-yellow: #e09f3eff;
  --auburn: #9e2a2bff;
  --rosewood: #540b0eff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--medium-champagne);
  color: var(--rosewood);
  font-size: 18px;
}

h1 {
  color: var(--auburn);
  padding: 15px;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  padding: 12px;
  color: var(--indian-yellow);
}

strong {
  color: var(--deep-space-sparkle);
}

a {
  text-decoration: none;
}

#profilePicture {
  border-radius: 50% 25%;
}

.navigation {
  overflow: hidden;
}

.navigation a {
  float: left;
  display: block;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
